[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
project-internal = {editable = true, path = "."}

[dev-packages]
pytest = "*"
pytest-cov = "*"
pylint = "*"
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
